:root{
    --primary:#FC466B;
    --secondary:#3F5EFB;
}
body{
    background: linear-gradient(135deg, var(--primary),var(--secondary));
}
h1{
    font-family: cursive;
    font-size: 60px;
    display: grid;
    color: whitesmoke;
}
.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 2px solid black;
    font-size:34px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: #fbe8a6;
    width: 102px;
    height: 90px;
    margin: 6px;

}

.calculator{ 
    border: 1px solid black;
    background-color:  #f4976c;;
    padding: 23px;
    border-radius: 23px  23px;
    display: inline-block;
    margin: 20px;
    box-shadow:6px 6px 8px 10px black;

}
.calculator:hover{
    
    box-shadow:12px 10px 8px 10px;

}

